/* img { width: 40px; height: 40px; } */
.itemTitle {
    padding-left: 10px !important;
}
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 80%;
}
.pageNo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
}

.table {
    justify-content: center !important;
    align-items: center !important;
}
.tableStyle {
    max-width: 1024px !important;
}
.wrapContainer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.subContainer {
    justify-content: center !important;
    align-items: center !important;
    max-width: 1024px !important;
}